/* index.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(40, 40, 40); /* Fondo oscuro */
  color: #f78a1e; /* Texto en color naranja */
  display: flex;
  flex-direction: column;
}

#root {
  text-align: center;
}

/* Animación para el título */
h1 {
  font-size: 10rem;
  animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Estilos para la aplicación */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Estilos para el botón "Home" */
#styleButtomNav {
  background-color: #f7931e; /* Color naranja */
  color: #ffffff; /* Texto en color oscuro */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 20px;
}

#styleButtomNav:hover {
  background-color: #ff9f4f; /* Color naranja más claro al pasar el mouse */
}

/* Estilos para la lista de botones de paginado */
ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  margin-right: 10px;
}

button {
  background-color: #f7931e; /* Color naranja */
  color: #ffffff; /* Texto en color oscuro */
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ff9f4f; /* Color naranja más claro al pasar el mouse */
}

/* Estilos para el componente SearchBar */
#contenSearchBar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

input[type="search"] {
  padding: 5px;
  border: 1px solid #f7931e; /* Borde en color naranja */
  border-radius: 5px;
  margin-right: 10px;
  background-color: #1f1f1f; /* Fondo oscuro */
  color: #f7931e; /* Texto en color naranja */
}

button {
  background-color: #f7931e; /* Color naranja */
  color: #1f1f1f; /* Texto en color oscuro */
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ff9f4f; /* Color naranja más claro al pasar el mouse */
}

/* Estilos para el componente Cards */
/* Puedes agregar estilos específicos para tus tarjetas de videojuegos aquí */
