/* style.css */

.contentStyle {
    border: 1px solid #ccc; /* Borde ligero */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra ligera */
    color: #ffffff; /* Texto en color naranja */
    padding: 20px;
    text-align: center;
    margin: 10px;
    width: 290px;
    height: 200px;
    
  }

  .contenInfoStyle{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
  
  .contentStyle h2 {
    font-size: 20px;
    margin: 10px 0;
    color: white
  }
  
  .contentStyle h3 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .contentStyle ul {
    list-style: none;
    padding: 0;
    align-items: center;
  }
  
  .contentStyle li {
    font-size: 16px;
    margin: 5px 0;
  }
  
  .imgGame {
    max-width: 40%;
    height: auto;
    margin: 10px 0;
    border-radius: 10px;
  }
  
  .contentStyle p {
    font-size: 16px;
    margin: 10px 0;
  }
  
  /* Puedes personalizar aún más estos estilos según tus preferencias y necesidades */
  